 .abc{
   transition: 0.5s;
 }
 .abc:hover {
    background-color: #002753 !important;
    /* color:black; */
}
.lv-main .main-r .pagination {
  float: right;
}
.lv-main .main-r .search-bar {
  display: flex;
  align-items: center;
  margin: 20px 0;
}
.lv-main .main-r .search-bar .btn-primary {
  height: 32px;
  padding: 3px 10px;
  margin-left: 10px;
}
thead tr{
  width: 100%;
}
thead tr th{
  width: 14.2857%;
}
th,td{
  text-align: center;
}
nav{
  position: absolute;
  right: 0;
  bottom: 200px;
}
#tbody tr td a:hover{
  cursor: pointer;
}

body{
  background: rgb(4, 4, 36);
  color: white
}

.cba{
  background: rgb(4, 4, 36) !important;
  transition: 0.5s;
}